{% extends 'sounds/base.html' %}
{% load static %}

{% block content %}


<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{% static 'sounds/image/saxophone.png' %}" width="75px" height="75px">
      <h2>Наслаждайся каждым треком в своем плейлисте</h2>
    </div>
      <form action="{% url 'create_playlists' %}" method="post">
          {% csrf_token %}

          {% for field in form %}
            <div class="row gy-3" >
               <div class="col-md-4">
                   <input type="text" class="form-control" id="cc-name" placeholder="{{field.label}}" required="">
                   <div class="invalid-feedback">{{ form.title.errors }}</div>
               </div>
            </div>
          {% endfor %}

                <hr class="my-4">
                <button class="w-15 btn btn-primary btn-lg" type="submit">Создать</button>
      </form>
  </main>
</div>
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>


{% endblock %}