{% extends 'sounds/base.html' %}
{% load static %}


{% block content %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="{% url 'home' %}" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="{% static 'sounds/image/saxophone.png' %}" width="30px" height="30px"><title>LuvMusic</title></img>
      <span class="fs-3">LuvMusic</span>
    </a>
  </header>

  <h1>Слушайте любимых исполнителей на своих устройствах</h1>
  <h6 class="fs-5 col-md-8">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.</h6>
  <div class="mb-5">
    <a href="#" class="btn btn-primary btn-lg px-3" download>Скачать приложение</a>
  </div>




</div>
{% endblock %}